html 
    head 
        title Express App
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap.css")
        script(src="js/bootstrap.min.js")
        script(src="js/jquery.min.js")
    body
        div(class=['container', 'pt-2']) 
            h1(id="display-4", class=['bg-dark', 'text-white', 'rounded', 'p-2'])=title
            p(class=['col-md-8', 'p-2', 'border-bottom', 'w-100'])=welcome
