html 
    head 
        title Express App
    body
        div(class=['container']) 
            h1(id="MyId")=title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eum quia ipsa illo ea, cupiditate dolore labore error et aut.